* {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.nav-options {
  display: flex;
}

.nav-options li,
.nav-price li {
  margin: 12px;
  font-size: 24px;
}

.nav-price li {
  font-weight: 600;
}

.selected {
  background-color: pink;
  border-radius: 4px;
}

.home-wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
}

.home {
  width: 80vw;
}

.products-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.product-card-link {
  margin-bottom: 60px;
}

.product-card-link:hover {
  border: 1px rgb(136, 136, 136) dashed;
  padding: 10px;
  box-shadow: rgb(136, 136, 136) 10px 10px 8px;
}

.product-card {
  width: 250px;
  height: 400px;
  text-align: center;
  display: flex;
  flex-flow: column wrap;
}

.product-card-img-wrapper {
  height: 250px;
}

.product-card-img-wrapper img {
  width: 100%;
}

.product-details-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.product-details {
  display: flex;
  width: 80vw;
  justify-content: center;
}

.product-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
}

.product-image {
  width: 400px;
}

.product-image img {
  width: 100%;
}

.price-and-button {
  display: flex;
  justify-content: space-around;
}

.button {
  width: 150px;
  margin: 8px;
  background-color: pink;
  border: none;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

.cart-wrapper {
  display: flex;
  justify-content: center;
}

.cart {
  width: 60vw;
  line-height: 32px;
}

.cart-total-and-button {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.row {
  display: flex;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

.col {
  flex: 2;
}

.col-2 {
  flex: 1;
  text-align: center;
}

.title,
.cart-total {
  font-size: 20px;
  font-weight: 600;
}

@media screen and (max-width: 500px) {
  ul {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 900px) {
  .product-details {
    flex-direction: column;
    align-items: center;
  }
  .cart {
    width: 80vw;
  }
}
